:root{
	--primary:#111b54;
	--light:#fff;
	--grey: #efefef;
    --securosbar : linear-gradient(180deg, #3E4B6F, #293450);
    --securosbg:  #1F2840;
    --securoshd:  #333C5C;
    --securosRedbg:  #f00000;
	--green:  #4cf22a;
	--red: linear-gradient(180deg, #3E4B6F, #293450);
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background: whitesmoke;
}
 